@model IEnumerable<Fast_Food.Models.MonAn>

<table class="table">
    <thead>
        <tr>
            @* <th>Loại Sản Phẩm</th> *@
            <th>Tên Món</th>
            <th>Giá</th>
            <th>Số Lượng</th>
            <th>Trạng Thái</th>
            <th>Ngày Tạo</th>
            <th>Ngày Cập Nhật</th>
            <th>Chi Tiết</th>
            <th>Hình Ảnh</th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <td>@item.LoaiSanPham</td> *@
                <td>@item.TenMon</td>
                <td>@item.Gia</td>
                <td>@item.SoLuong</td>
                <td>@item.TrangThai</td>
                <td>@item.NgayTao</td>
                <td>@item.NgayCapNhat</td>
                <td>@item.ChiTietFood</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.HinhAnh))
                    {
                        <img src="@item.HinhAnh" alt="Hình Ảnh" width="100" />
                    }
                    else
                    {
                        <span>Không có ảnh</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaMon">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaMon">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaMon">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
