@model IEnumerable<Fast_Food.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Nhân Viên
            </th>
            <th>
                Món Ăn Đặt
            </th>
            <th>
               Thời Gian Đặt
            </th>
            <th>
                Thời Gian Kết Thúc
            </th>
            <th>
                Trang Thái Đơn Hàng
            </th>
            <th>
				Trạng Thái Thanh Toán
            </th>
            <th>
				Số Điện Thoại Liên Hệ
            </th>
            <th>
				Địa Chỉ Giao Hàng
			</th>
			<th>
				Tổng Tiền
			</th>
            <th>
                Đánh Giá
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.MaKhachHangNavigation)
            </th> *@
            <th>
                Mã Giảm Giá 
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.MaNhanVienNavigation.TenNhanVien)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.MaHoaDon">Chi Tiết Hóa Đơn</a>
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ThoiGianDat)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ThoiGianKetThuc)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.TrangThaiDonHang)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.TrangThaiThanhToan)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.SdtlienHe)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.DiaChiGiaoHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTien)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.DanhGia)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.MaVoucherNavigation.MaVoucher)
                </td>
            </tr>

                @* Thêm nút hủy đơn trong từng hàng *@
                @if (item.TrangThaiDonHang == "Chờ xác nhận" || item.TrangThaiDonHang == "Đang xử lý")
                {
                <tr>
                    <td colspan="10">
                        <form asp-action="CancelOrder" asp-controller="HoaDons" method="post">
                            <input type="hidden" name="id" value="@item.MaHoaDon" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Bạn có chắc muốn hủy đơn hàng này không?');">
                                Hủy Đơn
                            </button>
                        </form>
                    </td>
                </tr>
                }
            }
    </tbody>
</table>
