@model IEnumerable<Fast_Food.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiDonHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SdtlienHe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanhGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhachHangNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNhanVienNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaVoucherNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SdtlienHe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhachHangNavigation.MaKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNhanVienNavigation.MaNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaVoucherNavigation.MaVoucher)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHoaDon">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHoaDon">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHoaDon">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
